%
%  See http://www.erlang.org/doc/man/config.html
%
[
    {ebi_mc2, [
        {name, ebi_mc2_queue},
        {clusters, [
            {cluster, mif,
                "uosis.mif.vu.lt", 22, "karolis",
                "/home/karolis/.ssh-ebi_mc2",
                "/users3/karolis/PST/bin/cluster", 10000, [
                    {partition, "long", 100}
                ]
            }
        ]},
        {result_dir, "/tmp"},
        {embedded, false}
    ]}
].

