%
%  See http://www.erlang.org/doc/man/config.html
%
[
    {ebi_mc2, [
        {name, ebi_mc2_queue},
        {clusters, [
            {cluster, ebi_mc2_cluster_mif,
                "uosis.mif.vu.lt", 22, "karolis",
                "/home/karolis/.ssh-ebi_mc2",
                "/users3/karolis/PST/bin/cluster", 10000, [
                    {partition, "long", 100}
                ]
            }
        ]},
        {result_dir, "/tmp"},
        {embedded, false}
    ]},
    {lager, [
        {handlers, [
            {lager_console_backend, error},
            {lager_file_backend, [
                {"log/error.log", error, 10485760, "$D0", 5},
                {"log/console.log", info, 10485760, "$D0", 5}
            ]}
        ]},
        {crash_log, "log/crash.log"}
    ]}
].

