{erl_opts, [
    {i, "deps/ebi/include"}
]}.
{deps, [
    {ebi,  ".*", {git, "https://github.com/kape1395/ebi.git", {branch, "master"}}},
    {meck, ".*", {git, "https://github.com/eproxus/meck.git", {tag, "0.7.2"}}}
]}.
{cover_enabled, true}.
{ct_dir, "itest"}.
{ct_extra_params, "-include ../deps/ebi/include"}.
